@use "sass:map";
@use "functions" as f;
@use "variables" as *;

@mixin themeToVars($theme) {
	@each $key, $value in $theme {
		@if $key != "_scheme" {
			--color-#{$key}: #{$value};
		}
	}
}

$devices: (
	tabletReset: "width > 1024px",
	tablet: "1024px >= width",
	tabletOnly: "1024px >= width > 530px",
	mobileReset: "width > 530px",
	mobile: "530px >= width"
);
@mixin adaptive($device) {
	@media (map.get($devices, $device)) {
		@content;
	}
}

@property --angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}

@mixin glassyBorder(
	$deg: 135deg,
	$border-width: f.rem(1),
	$colors: (
		f.cl($cd-glass-border, $a: 0.3),
		f.cl($cd-glass-border, $a: 0.05),
		f.cl($cd-glass-border, $a: 0.3)
	),
	$animate: false,
	$border-backdrop-filter: none
) {
	--angle: #{$deg};
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: inherit;
		border: $border-width solid transparent;
		background: conic-gradient(from var(--angle), $colors) border-box;
		mask:
			linear-gradient(black, black) border-box,
			linear-gradient(black, black) padding-box;
		mask-composite: subtract;
		backdrop-filter: $border-backdrop-filter;

		@if $animate {
			animation: borderAnimation 5s infinite;
		}
	}
}
@keyframes borderAnimation {
	100% {
		--angle: 360deg;
	}
}

@mixin btn($btn-width: 35, $btn-height: 35) {
	@include glassyBorder();
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: f.rem($btn-width * 2);
	block-size: f.rem($btn-height * 2);
	border-radius: 100vw;
	background-color: f.cl($cd-glass-background, $l: "calc(l * 0.8)", $a: 0.25);

	@include adaptive(mobile) {
		inline-size: f.rem($btn-width);
		block-size: f.rem($btn-height);
	}

	[data-theme="light"] & {
		background-color: f.cl($cd-glass-background, $a: 0.25);
	}

	svg {
		inline-size: 50%;
		block-size: 50%;
		margin: auto;
		fill: currentColor;
	}
}
