/*Reset*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button,
a,
label,
input,
textarea,
select,
summary {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgb(0 0 0 / 0);
	outline-color: transparent;
}

nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	min-block-size: 100svb;
}

html {
	scrollbar-gutter: stable;
}

body {
}

input,
button,
textarea,
select {
	font-family: inherit;
	color: inherit;
}

input,
textarea {
	border-radius: 0;
}
input {
	inline-size: 100%;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	font-size: inherit;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	text-wrap: balance;
}
p {
	text-wrap: balance;
	text-wrap: pretty;
}

/*--------------------*/
