@use "reset";
@use "variables" as *;
@use "functions" as f;
@use "mixins" as m;
@use "colors";

//	snippets -----------------------------------------------
// fsc - fullscreen;
// brg - burger;
// brg-2 - burger animated;
// modal - modal by dialog
//---------------------------------------------------------

//scss  ---------------------------------------------------

//global ---------------------------------------------------

img,
svg,
video {
	inline-size: 100%;
	max-inline-size: 100%;
	block-size: auto;
	max-block-size: 100%;
}

html {
	--refRes: 1920;
	$ratio: 0.5;
	scroll-behavior: smooth;
	overscroll-behavior: none;
	font-size: calc(100vw / var(--refRes) * 10);
	accent-color: f.cl($cd-accent);

	@media (min-width: 1921px) {
		font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
	}

	@include m.adaptive(tablet) {
		--refRes: 768;
	}
	@include m.adaptive(mobile) {
		--refRes: 320;
	}
}

body {
	font-family: $font;
	font-size: $fs;
	color: f.cl($cd-text);

	//&::before {
	//	position: absolute;
	//	inset: 0;
	//	z-index: -1;
	//	content: '';
	//	background:
	//		radial-gradient(circle at 20% 30%, f.cl($cd-positive, $a: 0.3) 0%, transparent 50%),
	//		radial-gradient(circle at 80% 70%, f.cl($cd-negative, $a: 0.25) 0%, transparent 50%),
	//		radial-gradient(circle at 30% 80%, f.cl($cd-accent, $a: 0.2) 0%, transparent 60%),
	//		f.cl($cd-background) top left / cover;
	//	//background-attachment: fixed; - имеет смысл если html прокручиваемый и фон распространяется на всю высоту.
	//}

	&.active {
		position: fixed;
		overflow: hidden;
	}
}
